* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(59, 59, 59);
    width: 100%;
    min-height: 100vh;
    color: white;
}

h1 {
    text-align: center;
}

#grid {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.easy {
    width: 1000px;
}

.standard {
    width: 900px;
}

.hard {
    width: 700px;
}

.hidden {
    display: none !important;

}

.square {
    width: 100px;
    height: 100px;
    border: 1px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

.evidenziato {
    background-color: red;
}